body{
	background: rgb(100,100,100,1.0);
	color: white;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header{
	padding: 0;

}

nav{
	padding:0;
}

h1{
	padding: 0;
}
footer{
	background: black;
	color: white;
	padding: 15px;
}

ul{
	margin:0;
	padding:10px;
	list-style-type:none;
}

li{
	display: inline-block;
	margin-right: 20px;
}